@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.reveal.is-inview {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.photo {
  will-change: transform, opacity;
}


.svg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200vw;        /* Wider than screen */
  height: 200vh;       /* Taller than screen */
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow: hidden;
  z-index: 5;
  scroll-behavior: none;
  border: 10px solid red;
}

.svg-container svg {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .svg-container svg {
    width: 100%;
    height: 100%;
  }
}



.photo {
  will-change: transform, opacity;
}

.menu {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  opacity: 0;
  background-color: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust thumb color and transparency */
  border-radius: 5px; /* Rounded corners */
  border: 2px solid transparent; /* Padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.0); /* Slightly darker on hover */
}

@media (max-width: 768px) {
  svg {
    top: 0;
  }
}

:root {
  --color-bg1: rgb(245, 245, 245);     /* Light Gray */
  --color-bg2: rgb(230, 230, 230);     /* Slightly Darker Gray */
  --color1: 210, 210, 210;             /* Light Warm Gray */
  --color2: 220, 215, 210;             /* Pale Taupe */
  --color3: 200, 195, 190;             /* Soft Greige */
  --color4: 180, 175, 170;             /* Medium Neutral */
  --color5: 240, 235, 225;             /* Sand White */
  --color-interactive: 200, 180, 170;  /* Light Muted Coral */
  --circle-size: 40%;
  --blending: hard-light;
}

#svg-goo {
  display: none;
}


.gradient-bg {
  height: 100%;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(180deg, #FFF6F6 0%, #312623 50%);
  left: 0;
  overflow: hidden;
}

.gradient-bg-2 {
  height: 100%;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(180deg, #F4E3D7 0%, #817366 70%);
  left: 0;
  overflow: hidden;
}

.gradient-bg-3 {
  position: relative;
  background: linear-gradient(135deg, #775253 0%, #312623 70%);
  left: 0;
  overflow: hidden;
}

.gradient-container {
  position: fixed;  /* Covers entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full viewport height */
  filter: url(#goo) blur(12px); 
  nav-down: auto;
}


 .g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 35%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 100%;
  transform-origin: center center;
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 35%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  transform-origin: calc(50% - 400px);
  border-radius: 100%;

  opacity: 1;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 35%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 100%;

  transform-origin: calc(50% + 400px);
  opacity: 1;
}

.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 35%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 100%;

  transform-origin: calc(50% - 200px);
  opacity: 0.7;
}

.g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 35%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size) ;
  height: var(--circle-size) ;
  border-radius: 100%;

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  opacity: 1;
} 


.interactive {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 100%;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0%, rgba(var(--color-interactive), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%); /* Ensures it centers around the mouse */
  pointer-events: none;
  opacity: 0.7;
  z-index: -1;
}

.interactive-2 {
  position: absolute;
 width: 100px;
  height: 100px;
  border-radius: 100%;
  background: radial-gradient(circle at center, rgba(244, 227, 215, 0.8) 0%, rgba(178, 158, 141, 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%); /* Ensures it centers around the mouse */
  pointer-events: none;
  opacity: 0.7;
  z-index: -10;
}

.interactive-3 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.8) 0%, rgba(200, 200, 200, 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%); /* Ensures it centers around the mouse */
  pointer-events: none;
  opacity: 0.7;
  z-index: -10;
}

.g1, .g2, .g3, .g4, .g5, .interactive, .interactive-2 , .interactive-3 {
  will-change: transform;
}
